#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1000;
    background-color: #cccfff;
}
#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: #fff;
    color: #333;
}
#footer {
    text-align: center;
    background-color: rgba(204, 153, 255, 0.2);
    padding: 20px 20px 20px 260px;
    color: #333;

    a {
        color: bar(--black300);
        padding: 10px 20px;
        display: inline-block;

        &:hover {
            @include underline;
            text-decoration-color: var(--black300);
        }
    }   
}
