.search__inner {
    width: 100%;
    padding: 17px 40px 18px 40px;
    border-bottom: 1px solid rgba(204, 153, 255, 0.3);
    label {
        display: none;
    }
    .search__input {
        width: 100%;
        background-color: #ccc;
        padding: 15px 30px;
        border-radius: 50px;
        background-color: rgba(204, 153, 255, 0.3);
        color: #333;

        &:focus {
            outline: none; 
        }
    }
    
}